body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(231,165,165);
}

header h1 {
    margin: 0;
}

nav {
    display: none;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.card {
    border: thin solid #000;
    box-shadow: 3px 3px 3px rgba(400,40,40,0.5);
    width: 300px;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
}