body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(231,165,165);
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(76,233,233);
}

nav a {
    display: block;
    padding: 10px;
    background-color: yellowgreen;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: red;
    background-color: white;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: thin solid #000;
    box-shadow: 3px 3px 3px rgba(400,40,40,0.5);
    width: 300px;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
}


@media ONLY screen AND (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media ONLY screen AND (max-width: 900px) {
    .card {
        margin-bottom: 20px;
        width: 90%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        order: -1;
    }
}