body {
    font-family:'Gill Sans', 'Gill Sans MT';
    background: #e6e4f1;
    color: #3a3a55; 
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background: #c5b3e6;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #2b2346;
}

form {
    width: 100%;
    padding: 25px;
    background: #f2eefc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 15px;
    border-radius: 8px;
}

legend {
    background: #8a75c3;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

label {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
    justify-content: flex-start;
}

input, textarea, select {
    padding: 12px;
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid #8a75c3;
    color: #3a3a55;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

.form {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 5px; 
}

.form label {
    width: 150px; 
    text-align: left;
}

.textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.textarea label {
    margin-bottom: 10px; 
}

.textarea textarea {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    border: 1px solid #8a75c3;
    color: #3a3a55;
    border-radius: 5px;
    box-sizing: border-box;
}

.form input,
.form textarea,
.form select {
    flex: 1;
}

.radio {
    display: flex;
    gap: 15px;
    align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

button {
    width: 100px;
    padding: 10px;
    margin-top: 15px;
    background: #8a75c3;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background: #6e5aa8; 
}

footer {
    background: #333; 
    color: #f2f2f2;
    font-family: 'Courier New', 'monospace';
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

@media ONLY screen and (max-width: 600px) {
    input, textarea, select {
        width: 100%;
        box-sizing: border-box;
    }

    .form, .textarea, .select, .radio {
        flex-direction: column;
        align-items: flex-start;
    }

    .form label, .textarea label {
        text-align: left; 
        width: auto; 
    }

    .checkbox {
        text-align: left;
        gap: 1px;
    }
    
    .radio {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        gap: 15px; 
    }

    .radio div {
        flex-direction: row; 
        gap: 15px; 
    }

    button {
        width: 100%; 
        padding: 15px;
        font-size: 22px;
    }
}