body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bluebg.jpg'); 
    /* #3325DD; */
    background-color: blue;
}

.mylist {
    list-style-type: none;
    list-style-image: url('heart.png');
}

header {
    color: cyan;
    background: url('bluey.png') top right no-repeat;
    -webkit-text-stroke: 1.2px black;
    background-size: contain;
    /* background-image: url('bluey.png'); */
    /* background-repeat: no-repeat;
    background-position: top right; */
}
