body {
    margin: 0;
    font-family: Arial, sans-serif; 
    font-size: 18px;
    color: #333333;
    background-color: #edf6f9;
}

header {
    background-color: #006d77;
    color: white;
    padding: 50px;
    text-align: center;
}

nav {
    background-color: #83c5be;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #e67e22;
}

main {
    margin: auto;
    padding: 35px;
    padding-bottom: 140px;
}

#emphasize {
    color: #e67e22; 
}

.deemphasize {
    color: #83c5be;
    
}

footer {
    background-color: #006d77;
    color: white;
    text-align: center;
    padding: 10px;
}
