body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('bgimage.jpeg') repeat;
    color: #333;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px white;
}

header {
    text-align: center;
    background: #00468c; 
    color: white;
    padding: 20px 0;
    text-shadow: 2px 2px 4px black;
}

.homepage::before {
    content: "";
    background: url('phflag.png') no-repeat top right;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

nav {
    text-align: center;
    padding: 10px;
    background: #fcd116; 
    position: relative;
}

nav a, .underline {
    text-decoration: none;
    font-weight: bold;
    color: #00468c; 
}

.underline {
    text-decoration: underline;
    color: #ce1127;
}

main {
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    padding: 20px;
}

.placeslist {
    list-style-type: none;
    list-style-image: url('sun.png');
    display: inline-block;
}

.paragraph {
    max-width: 700px;
    margin: 0 auto;
    line-height: 3.0;
}

footer {
    text-align: center;
    background: #00468c;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-shadow: none
}
